body {
    font-family: Arial;
    text-align: center;
}

#content {
    width: 300px;
    margin: auto;
}

.card {
    padding: 15px;
    margin: 10px;
    background: #eee;
    border: 1px solid #ccc;
}

#loading {
    display: none;
    margin: 20px;
}